* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #555454;
  padding: 15px 30px;
}

.nav-title {
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a.active {
  color: white;
  font-weight: bold;
}

.btn {
  background: #007bff;
  color: white;
  border: 3px solid #000000;
  padding: 6px 14px;
  box-shadow: 2px 2px 0px #000;
  cursor: pointer;
  

}