.container {
    width: 950px;
    margin: 20px auto;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.row {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: space-around;
}

img.octocat {
    height: 200px;
    width: auto;
    background-color: #fff;
    padding: 10px;
}

.row1 {
    background-color: #78c9cc;
    justify-content: space-around;

}

.row2 {
    background-color: #ec6bec;
    justify-content: space-around;
}

.row3 {
    display: flex;           
    justify-content: space-between; 
    padding: 0;              
}

.row3 img.octocat {
    flex: 1;                 
    height: 200px;
    width: 100%;              
    margin: 0;                
    display: block;           
}

.footer {
    font-size: 15px;
    color: #686767;
    margin-top: 10px;
}